body{
    background-color: antiquewhite;
    position: relative;
    font-size: 1.2em;

}
#obrigatorias{
    background-color: hwb(0 17% 35%);
    padding: 15px;
    border-radius: 30px;
    opacity: 0.95;
}
.semestres{
    background-color: hwb(0 17% 35%);
    padding: 15px;
    border-radius: 30px;
    opacity: 0.95;
    display: none;
 }
 
.semestres:hover{
    opacity: 1;
 }

 #obrigatorias.active .semestres{
    display: block;
 }

h1{
    cursor: pointer;
 }
 

li{
    list-style: none;
}
.plus{
    position: absolute;
    left:  500px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px blue;
    background-color: cyan;
    cursor: pointer;
}


.minus{
    position: absolute;
    left:  550px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px blue;
    background-color: coral;
    color:black;
    cursor: pointer;
}

.cadeiras {
    margin: 20px 0;
}
.activePlus{
    background-color: gray;
}
.activeMinus{
    background-color: gray;
}

#barra{
    background-color: #e0e0e0;
    max-width: 100%;
    width: 90%;
    height: 10px;
    margin-left: 4%;
    border-radius: 50px;
    position: relative;
    top: 20vh;
}

#progresso{
    background-color: violet;
    width: 0%;
    height: 10px;
    margin-left: 5px;
    border-radius: 50px;
    position: absolute;
    left: -5px;
}

#semestre1, #semestre2, #semestre3{
   display: none;
}
.semestres.activeObrigatorias #semestre1{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
}

.semestres.activeObrigatorias #semestre2{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
}

.semestres.activeObrigatorias #semestre3{ 
    display: block;
    background-color: hsla(185, 79%, 44%, 0.79);
    border-radius: 30px;
    padding: 5px;
}